/* colors
background blue #eff4f9
title bar blue: #aec9df
highlighted selection blue: #d3e1ec
graph blue: #d3e1ec

*/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* Grid */

.grid-container {
    position: relative;
    margin: auto;
    padding: 15px;
    background: #d3e1ec;
    border-radius: 6px;
    width: 360px;
    height: 360px;
}

.grid-row {
    margin-bottom: 15px; }
.grid-row:last-child {
    margin-bottom: 0; }
.grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
    width: 33%;
    height: 100px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(152, 156, 169);
    transition: 0.3s;
}
.grid-cell:last-child {
    margin-right: 0; }

.grid-cell.red {
    background: #f66364;
}

.grid-cell.white {
	background: #fafafa;
    /*background: #bac1c4;*/
}

.grid-cell.blue {
    background: #84caec;
}

.grid-cell.empty {
    background: rgb(152, 156, 169);
}

.grid-cell.missing {
	background: rgb(152, 156, 169);
    /*background: #f5b04d;*/
}

.grid-icon {
	color: #d3e1ec;
	display: flex;
	justify-content: center;
}

/* Legend */

.legend .grid-icon {
	margin: 5px;
	width: 40px;
}

.legend-text {
	display: flex;
	flex-direction: column;
}

/* Config */

.config-container {
    position: relative;
    margin: auto;
    padding: 15px;
    background: #d3e1ec;
    border-radius: 6px;
    width: 360px;
    height: 360px;
}

.config-row {
    margin-bottom: 15px; }
.config-row:last-child {
    margin-bottom: 0; }
.config-row:after {
    content: "";
    display: block;
    clear: both; }

.config-cell {
    width: 33%;
    height: 100px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(152, 156, 169);
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.config-cell:last-child {
    margin-right: 0; 
	
}

.config-cell:hover {
	background: #84caec;
	transition: 0.3s;
}

.config-cell-text {
	font-size: 20px;
	cursor: pointer;
}

.config-cell.set {
    background: #84caec;
}