.center {
    display: flex;
    justify-content: center;
}

.grid-container-background {
    margin-top: 40px;
    position: relative;
    padding: 15px;
    background: #bdbfca;
    border-radius: 6px;
    width: 360px;
    height: 360px;
    box-sizing: border-box;
}

.grid-container {
}

.grid-row {
    margin-bottom: 15px; }
.grid-row:last-child {
    margin-bottom: 0; }
.grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(152, 156, 169);
    transition: 0.3s;
}
.grid-cell:last-child {
    margin-right: 0; }

.grid-cell img {
    height: 100%;
}