@import url(fonts/clear-sans.css);
html, body {
    margin: 0;
    padding: 0;
    background: #fdfdff;
    color: #69697d;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
    margin: 80px 0; }

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.65;
}

p.label {
    text-align:center;
    font-size:55px;
    color: #cbcede;
    font-weight: bold;
    /* font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif; */
}

a {
    color: #776e65;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer; }

strong.important {
    text-transform: uppercase; }

hr {
    border: none;
    border-bottom: 1px solid #d8d4d0;
    margin-top: 20px;
    margin-bottom: 30px; }

.center {
    display: flex;
    justify-content: center;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav form {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav button {
    background-color: #3498DB;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.container {
    /* border-style: double; */
    width: 500px;
    margin: 0 auto;
}

.totals-container {
    margin-top: 40px;
    margin-left:  10px;
    margin-right:  10px;
    position: relative;
    padding: 15px;
    display: flex;
    /* background-color: #bdbfca; */
    border-radius: 6px;
}

.totals-container p {
    text-align: right;
    margin-right: 24px;
}

.totals-bar p {
    text-align: right;
    margin-right: 14px;
    margin-left:  7px;
    color: #bdbfca;
    font-weight: bold;
    margin-bottom: 0px;
}

.totals-container-left {

width: 140px;
}

.totals-container-separator {
    width: 2px;
    height: 200px;
    background: #d1d1d1;
}

.totals-container-right {
    width: 300px;
}


.totals-bar {
    width: 50%;
    height: 26px;
    /* margin-top: 4px; */
    margin-bottom: 10px;
    border: 1.5px solid rgba(92, 92, 92, 0.51);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    transition: 0.5s;
}

.totals-bar.red {
    background: rgb(214, 83, 97);
}

.totals-bar.white {
    background: rgb(255, 255, 255);
}

.totals-bar.blue {
    background: rgb(98, 141, 214);
}

.totals-bar.empty {
    background: rgb(152, 156, 169);
}

.totals-bar.missing {
    background: rgb(247, 244, 135);
}

.grid-container-background {
    margin-top: 40px;
    position: relative;
    padding: 15px;
    background: #bdbfca;
    border-radius: 6px;
    width: 360px;
    height: 360px;
    box-sizing: border-box;
}

.grid-container {
}

.grid-row {
    margin-bottom: 15px; }
.grid-row:last-child {
    margin-bottom: 0; }
.grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(152, 156, 169);
    transition: 0.3s;
}
.grid-cell:last-child {
    margin-right: 0; }

.grid-cell.red {
    background: rgb(214, 74, 92);
}

.grid-cell.white {
    background: rgb(255, 255, 255);
}

.grid-cell.blue {
    background: rgb(98, 141, 214);
}

.grid-cell.empty {
    background: rgb(152, 156, 169);
}

.grid-cell.missing {
    background: rgb(247, 244, 135);
}