@import url(fonts/clear-sans.css);
html, body {
    margin: 0;
    padding: 0;
    background: #fdfdff;
    color: #69697d;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
    margin: 80px 0; }

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.65;
}

p.label {
    text-align:center;
    font-size:55px;
    color: #cbcede;
    font-weight: bold;
    /* font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif; */
}

a {
    color: #776e65;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer; }

strong.important {
    text-transform: uppercase; }

hr {
    border: none;
    border-bottom: 1px solid #d8d4d0;
    margin-top: 20px;
    margin-bottom: 30px; }

.center {
    display: flex;
    justify-content: center;
}

.container {
    border-style: double;
    width: 500px;
    margin: 0 auto;
}

.game-container {
    margin-top: 40px;
    position: relative;
    padding: 15px;
    cursor: default;
    touch-action: none;
    background: #bdbfca;
    border-radius: 6px;
    width: 360px;
    height: 360px;
    box-sizing: border-box;
}

.grid-container {
    position: absolute;
    z-index: 1; }

.grid-row {
    margin-bottom: 15px; }
.grid-row:last-child {
    margin-bottom: 0; }
.grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(152, 156, 169);
}
.grid-cell:last-child {
    margin-right: 0; }

.grid-cell.red {
    background: rgb(214, 98, 98);
}

.grid-cell.white {
    background: rgb(255, 255, 255);
}

.grid-cell.blue {
    background: rgb(98, 141, 214);
}

.grid-cell.empty {
    background: rgb(152, 156, 169);
}

.grid-cell.missing {
    background: rgb(247, 244, 135);
}